apiVersion: v1
kind: ConfigMap
metadata:
  name: prom-config
  namespace: monitoring
data:
  prometheus.yml: |
    global:
      scrape_interval: 5s
    scrape_configs:
      - job_name: vpn
        static_configs:
          - targets:
              - "vpn.app.svc.cluster.local:9001"
