version: "3.9"

services:
  app:
    build: ./app
    container_name: app
    networks:
      - appnet

  vpn:
    build: ./vpn
    container_name: vpn
    environment:
      - JWT_SECRET=devsecret
    networks:
      - appnet

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "9000:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - vpn
    networks:
      - appnet
      
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - appnet

networks:
  appnet:
    driver: bridge
