apiVersion: v1
kind: ConfigMap
metadata:
  name: filebeat-config
  namespace: logging
data:
  filebeat.yml: |-
    filebeat.inputs:
    - type: log
      enabled: true
      paths:
        - /tmp/test.log

    output.logstash:
      hosts: ["logstash.logging.svc.cluster.local:5044"]
