apiVersion: v1
kind: Secret
metadata:
  name: vpn-creds
  namespace: app
type: Opaque
stringData:
  creds.json: |
    {
      "creds": [
        {% for item in vpn_creds %}
        {"username": "{{ item.username }}", "password": "{{ item.password }}"}{% if not loop.last %},{% endif %}
        {% endfor %}
      ]
    }
