apiVersion: v1
kind: ConfigMap
metadata:
  name: filebeat-config
data:
  filebeat.yml: |
    filebeat.inputs:
      - type: container
        paths:
          - /var/log/containers/*.log

    processors:
      - add_kubernetes_metadata:
          in_cluster: true
      - add_cloud_metadata: ~
      - add_host_metadata: ~

    output.logstash:
      hosts: ["logstash:5044"]
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: filebeat-sa
  namespace: default
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: filebeat-cluster-role
rules:
  - apiGroups: [""]
    resources:
      - pods
      - pods/log
      - namespaces
      - nodes
      - services
      - endpoints
    verbs: ["get", "watch", "list"]

  - apiGroups: ["apps"]
    resources:
      - replicasets
    verbs: ["get", "watch", "list"]

  - apiGroups: ["events.k8s.io"]
    resources:
      - events
    verbs: ["get", "watch", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: filebeat-cluster-role-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: filebeat-cluster-role
subjects:
  - kind: ServiceAccount
    name: filebeat-sa
    namespace: default
