---
- name: Deploy Full Stack
  hosts: localhost
  connection: local
  gather_facts: false

  vars:
    app_image: "mydockerhubuser/spe-app:latest" # need to replace
    vpn_image: "mydockerhubuser/spe-vpn:latest" # need to replace
    local_app_path: ../app
    local_vpn_path: ../vpn
    k8s_dir: ../k8s
    app_port: 30030
    grafana_port: 30060
    kibana_port: 30090
    minikube_cpus: 4
    minikube_memory: 6144
    minikube_driver: docker

  tasks:
  - name: Delete existing Minikube cluster (if any)
    command: minikube delete
    ignore_errors: true

  - name: Start Minikube with required resources
    command: >
      minikube start
      --cpus={{ minikube_cpus }}
      --memory={{ minikube_memory }}
      --driver={{ minikube_driver }}
    register: start_output

  - name: Display Minikube status
    debug:
      msg: "{{ start_output.stdout_lines }}"

  - name: Handle app image
    block:
      - name: Pull app image from registry
        command: minikube image pull {{ app_image }}
        when: app_image != ""

      - name: Build app image locally
        command: minikube image build -t spe-app {{ local_app_path }}
        when: app_image == ""
        register: app_image_built

  - name: Handle vpn image
    block:
      - name: Pull vpn image from registry
        command: minikube image pull {{ vpn_image }}
        when: vpn_image != ""

      - name: Build vpn image locally
        command: minikube image build -t spe-vpn {{ local_vpn_path }}
        when: vpn_image == ""
        register: vpn_image_built

  - name: Create namespaces
    include_role:
      name: namespaces

  - name: Deploy APP stack
    include_role:
      name: app_stack

  - name: Deploy LOGGING stack
    include_role:
      name: logging_stack

  - name: Deploy MONITORING stack
    include_role:
      name: monitoring_stack

  - name: Port-forward services
    shell: |
      nohup kubectl port-forward svc/nginx {{ app_port }}:80 -n app > /dev/null 2>&1 &
      nohup kubectl port-forward svc/grafana {{ grafana_port }}:3000 -n monitoring > /dev/null 2>&1 &
      nohup kubectl port-forward svc/kibana {{ kibana_port }}:5601 -n logging > /dev/null 2>&1 &
    async: 3600
    poll: 0

  - name: Debug - App service port
    debug:
      msg: "App service should be available on localhost:{{ app_port }}"

  - name: Debug - Grafana service port
    debug:
      msg: "Grafana service should be available on localhost:{{ grafana_port }}"

  - name: Debug - Kibana service port
    debug:
      msg: "Kibana service should be available on localhost:{{ kibana_port }}"